name: Web Application Pipeline

on:
 push:
  branches:
   - main

jobs:

 build:

  runs-on: ubuntu-latest

  steps:

   - name: Checkout Code
     uses: actions/checkout@v3

   - name: Build Project
     run: echo "Build Successful"

   - name: Test Project
     run: echo "Testing Successful"

   - name: Deploy Project
     run: echo "Deployment Successful"
